.light-theme{
  overflow: hidden;
  background: url('./images/background.png') no-repeat center center/cover;
  color: #2f3542;
  height: 100vh;
  width: 100vw;
}

.dark-theme{
  overflow: hidden;
  background: url('./images/background-dark.png') no-repeat center center/cover;
  color: #dfe4ea;
  height: 100vh;
  width: 100vw;
}

.togle-theme{
  padding: 30px;
  font-size: 2rem;
  width: 100%;
  display: flex;
}

h1{
  font-family: 'Carter One', cursive;
  font-size: 2.5rem;
}

.title{
  display: inline-block;
  margin: auto;
}

.container{
  max-width: 600px;
  margin: auto;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, .15);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  backdrop-filter: blur(5px);
}

input{
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

span{
  padding: 10px;
  font-size: 20px;
}

.weather-detail{
  display: flex;
}

.city-detail{
  width: 50%;
  padding: 10px;
  margin-top: 20px;
  text-align: start;
}

.temp{
  font-size: 4rem;
}

.weather-info{
  width: 50%;
}

img{
  width: 250px;
}

.error-msg{
  margin: 10px;
  padding: 10px;
}

.error-msg > .error-title{
  font-weight: bold;
  font-size: 1.5rem;
  color: rgba(214, 48, 49,1.0);
}

.welcome{
  margin: 10px;
}

.footer{
  width: 100vw;
  text-align: center;
  position: fixed;
  bottom: 10px;
  color: #2f3542;
}

h3 > a{
  text-decoration: none;
  color: #3498db;
}